<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StarTrekDataLayer.Properties.Settings.StarTrekConnectionString"
            connectionString="Data Source=(local);Initial Catalog=StarTrek;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>