<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="StarTrekDataLayer.Properties.Settings.StarTrekConnectionString"
        connectionString="Data Source=(local);Initial Catalog=StarTrek;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>